@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}	
html{
    scroll-behavior: smooth;
}

body{
    background: #1f242d;
    color: #fff;
}

::-webkit-scrollbar {
  display: none;
} 
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: #191d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}


.logo{
  font-size: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
  animation: slideRight 1.5s ease forwards;
}

.navbar a{
  display: inline-block;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  transition: .5s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
  color: rgb(189, 187, 187);
}

.navbar a.active{
  color: #0ef;
}

.heading {
    font-size: 3.25rem;
    font-weight: bold;
    margin-left: 84vh;
    margin-top: 16vh;
    color: rgb(57, 49, 210);
}

.img {
    height: 60vh;
    margin-left: 10vh;
    margin-top: 6vh;
    border: 4px solid #0901f6;
    border-radius: 10%;  
}

.desc{
    margin-left: 100vh;
    margin-top: -58vh;
    font-size: 1.25rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 15px #0ef;
    font-size: 30px;
    color: #04002c;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 799;
    margin-left: 80vh;;
    margin-top: 18vh;
    margin-bottom: 12vh;
    cursor: pointer;
}






















@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @keyframes slideTop{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }