@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}	
html{
    scroll-behavior: smooth;
}

body{
    background: #1f242d;
    color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

.logo {
  width: 130px;
  max-width: 200%;
  margin-left: 10px;
  margin-top: -0.5vh;
  margin-bottom: -0.5vh;
  transition: 0.4s ease-out;
}

.logo:hover {
  width: 135px;
  cursor: pointer;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: #191d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}



.navbar a{
  display: inline-block;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  transition: .5s;
  opacity: 1;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
  color: rgb(189, 187, 187);
}

.navbar a.active{
  color: #0ef;
}

.contact{
  height: 500px;
  background-color: #1f242d;
  margin-top: 330px;
  margin-left: 250px;
}


.contact form{
  width: 55rem;
  text-align: center;
  margin-left: 30rem;
  margin-top: -3rem;
  position: relative;
  top: -100px;
}

.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  color: #fff;
  background: #323946;
  border-radius: 1rem;
  margin: .7rem 0;
  border: none;
}

.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize: none;
}
.contact form .btn{
  margin-top: .5rem;
  cursor: pointer;
  border: none;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 18px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 799;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }





































/* @keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  @keyframes slideTop{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  } */