@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}	
html{
    scroll-behavior: smooth;
}

body{
    background: #1f242d;
    color: #fff;
}

::-webkit-scrollbar {
  display: none;
} 
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: #191d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

span {
  margin-left: 7.5vh;
  color: #0ef;

}



.logo {
  width: 130px;
  max-width: 200%;
  margin-left: 10px;
  margin-top: -0.5vh;
  margin-bottom: -0.5vh;
  transition: 0.4s ease-out;
}

.logo:hover {
  width: 135px;
  cursor: pointer;
}

.navbar a{
  display: inline-block;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  transition: .5s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
  color: rgb(189, 187, 187);
}

.navbar a.active{
  color: #0ef;
}

.home-img {
  padding-bottom: 45px;
  margin-top: -34.5vh;
  height: 88vh;
  z-index: 1;
  float: right;
  padding-right: 120px;
}

.motto {
  color: #fff;
  font-size: 75px;
  color: #fff;
  text-decoration: none;
  font-weight: 799;
  margin-top: 22.5vh;
  margin-left: 14vh;
  transition: text-shadow 0.5s ease;
  z-index: 2;
  text-shadow: 0 0 2.5px #fff, 0 0 3.5px #0ef;;
}

.home-img2 {
  margin-left: 20vh;
  margin-top: 4vh;
}

.motto:hover {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #0ef;
  cursor: default;
}

.home {
  height: 20vh;
}

.three-trains{
  height: 830px;
  background: #272c36;
}

.heading {
  margin-top: 70vh;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.train-heading1 {
  margin-left: 165px;
  font-size: 1.7rem;
  margin-top: 30px;
  margin-bottom: 15px;
  color: rgb(191, 79, 79);
}

.train-img1 {
  height: 45vh;
  margin-left: 30px;
  border: 3px solid #f50b0b;
  border-radius: 10%;  
}

.train-description1 {
  margin-left: 30px;
  margin-top: 15px;
  font-size: 18px;
}

.btn1 {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(191, 79, 79);
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(191, 79, 79);
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 799;
  margin-left: 9%;
  margin-top: 25px;
  position: relative;
}

.train-heading2 {
  margin-left: 91.5vh;
  margin-top: -78.5vh;
  font-size: 1.7rem;
  color: rgb(57, 49, 210);
}

.train-img2 {
  height: 45vh;
  margin-left: 72vh;
  margin-top: 1.8vh;
  border: 3px solid #2107c6;
  border-radius: 10%;  
}

.train-description2 {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 72vh;
}

.btn2 {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(57, 49, 210);
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(57, 49, 210);
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 799;
  margin-left: 43.5%;
  margin-top: 23.5px;
  position: relative;
}

.train-heading3 {
  margin-left: 161.5vh;
  margin-top: -78.5vh;
  font-size: 1.7rem;
  color: #cac9cd;
}

.train-img3 {
  height: 45vh;
  margin-left: 143.5vh;
  margin-top: 1.6vh;
  border: 3px solid #bbbac0;
  border-radius: 10%;  
}

.train-description3 {
  font-size: 18px;
  margin-top: 12.5px;
  margin-left: 142vh;
}

.btn3 {
  display: inline-block;
  padding: 10px 20px;
  background: #bbbac0;
  border-radius: 40px;
  box-shadow: 0 0 10px #bbbac0;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 799;
  margin-left: 76.5%;;
  margin-top: 18px;
  position: relative;
}

.main-button {
  height: 180px;
}

.main-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 30px;
  color: #04002c;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 799;
  margin-left: 85.5vh;;
  margin-top: 7vh;
  cursor: pointer;
}














































@keyframes slideRight{
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideTop{
  0% {
      transform: translateY(100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
